<html>
    <head><title>zookeeper browser</title>
        <link rel='stylesheet', href='/zk/stylesheets/style.css'/>
    </head>
    <frameset cols="30%,*">
          <frame src="/zk/tree" id="tree" name="tree">
          <frame src="/zk/get" id="content" name="content"/>
     </frameset>
</html>
